<%= form_with(model: post, id: "new_post_form",
class: "relative z-10",
role: "dialog",
aria_modal: "true",
data: {
  new_post_target: 'newPostModal',
  action: "turbo:submit-end->new-post#afterSubmit"
  }) do |form| %>
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">




      <div data-controller="image-form">
        <%= form.file_field :image, id: 'file_input',
          data: {image_form_target: 'imageUploader', action: 'image-form#updatePreview'},
          class: "block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        %>
        <!-- add accept="image/*" to file field -->
        <div class="preview-section d-none" data-image-form-target="previewSection">
          <img src="./src/image-preview.svg" data-image-form-target="imagePreview">
          <button class="clear" data-image-form-target="clearUpload" data-action="image-form#clearUpload">
            Clear
          </button>
        </div>
      </div>





              <%= form.text_field :title,
                      class: 'w-full bg-gray-100 border border-gray-300 p-2 outline-none',
                      placeholder: 'Title',
                      data: { new_post_target: 'title', action: 'keyup->new-post#updateCount' },
                      maxLength: Post::TITLE_MAX_CHARS
              %>
              <div class="icons flex m-2">
                <div data-new-post-target="titleCount" class="ml-auto text-gray-400 text-xs font-semibold">
                  0/<%= Post::TITLE_MAX_CHARS %>
                </div>
              </div>

              <%= form.text_area :body,
                      class: 'w-full bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none',
                      placeholder: 'Describe the post here..',
                      data: { new_post_target: 'body', action: 'keyup->new-post#updateCount' },
                      maxLength: Post::BODY_MAX_CHARS
              %>
              <div class="icons flex text-gray-500 m-2">
                <div data-new-post-target="bodyCount" class="ml-auto text-gray-400 text-xs font-semibold">
                  0/<%= Post::BODY_MAX_CHARS %>
                </div>
              </div>

              <div class="buttons flex">
                <button
                    class="w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none disabled:bg-slate-50 disabled:text-slate-500"
                    data-action="click->new-post#close"
                >
                  Cancel
                </button>

                <%= form.submit "#{params[:action] == 'index' ? 'Create' : 'Update'}",
                    class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none disabled:bg-slate-50 disabled:text-slate-500"
                %>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
